.window {
  position: relative;
  width: 25rem;
  height: 13rem;
  margin: 2rem 0 0 0rem;
  background: var(--light-blue);
  border-radius: 1rem;
  border: 2px solid #163058;
}

.window:before {
  content: " ";
  position: absolute;
  width: 25rem;
  height: 13rem;
  z-index: -1;
  top: -16px;
  left: -16px;
  right: 16px;
  bottom: 16px;
  background: #1630582a;
  border: 2px solid #163058;
  border-radius: 1rem;
}

.window h1 {
  text-align: center;
  padding-top: 3rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--main-text-color);
}
.input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  color: var(--main-text-color);
}

.container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.rows {
  display: grid;
  grid-template-columns:
    minmax(4rem, 1fr) minmax(4rem, 1fr)
    minmax(4rem, 1fr) minmax(4rem, 1fr) minmax(4rem, 1fr)
    minmax(4rem, 1fr) minmax(4rem, 1fr);
  width: 88%;
  gap: 3rem;
  justify-content: space-between;
  text-align: center;
  height: 3.4rem;
  border-bottom: 1px solid #d7d7d7;
  padding: 0.5rem;
}

.labels {
  font-weight: 700;
  align-items: end;
}

.name {
  display: flex;
}

.nameHeading {
  transform: translateX(0.5rem);
}

.name img {
  width: 3rem;
  margin-right: 8px;
  transform: translateY(-0.8rem);
}

.name span {
  width: 150px;
  font-size: 1rem;
}

.red {
  color: var(--app-color-red);
}

.green {
  color: var(--app-color-4);
}

@media only screen and (max-width: 768px) {
  .window {
    position: relative;

    width: 16rem;
    height: 13rem;
    margin: auto;
    margin-top: 1rem;
    background: var(--light-blue);
    border-radius: 1rem;
    border: 2px solid #163058;
  }

  .window:before {
    content: " ";
    position: absolute;
    width: 16rem;
    height: 13rem;
    z-index: -1;
    top: -12px;
    left: -12px;
    right: 12px;
    bottom: 12px;
    border: 2px solid #163058;
    border-radius: 1rem;
  }
  .rows {
    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr) minmax(2rem, 1fr)
      minmax(2rem, 1fr) minmax(2rem, 1fr) minmax(2rem, 1fr)
      minmax(2rem, 1fr) minmax(2rem, 1fr);
    width: 100%;
    gap: 1rem;
    font-size: 0.7rem;
    justify-content: space-between;
    text-align: center;
    height: 2.4rem;
    border-bottom: 1px solid #d7d7d7;
    padding: 0;
  }
  .name {
    grid-column: 1 / span 2;
  }
  .nameHeading {
    grid-column: 1 / span 2;
    transform: translateX(0);
  }
  .name img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 6px;
    transform: translateY(-0.5rem);
  }
  .name span {
    font-size: 0.7rem;
  }
  .symbol {
    display: none;
  }
}
