.main {
	margin: 6.3em 2em 1em 2em;
	padding: 1em;
	display: flex;
	justify-content: center;
}

.window {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 25rem;
	margin: 1rem 0;
	padding: 1rem;
}

.window h2 {
	text-align: center;
	padding: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 2em;
}

.input {
	width: 100%;
	height: 2rem;
	/* font-size: 1rem; */
	padding-left: 0.5rem;
	color: var(--main-text-color);
}

.container {
	padding: 1em;
	display: flex;
	justify-content: center;
}

.rows {
	display: grid;
	grid-template-columns:
		minmax(4rem, 1fr) minmax(4rem, 1fr)
		minmax(4rem, 1fr) minmax(4rem, 1fr) minmax(4rem, 1fr)
		minmax(4rem, 1fr) minmax(4rem, 1fr);
	width: 88%;
	gap: 3rem;
	justify-content: space-between;
	text-align: center;
	height: 3.4rem;
	border-bottom: 1px solid var(--app-gray);
	padding: 0.5rem;
}

.labels {
	font-weight: 700;
	align-items: end;
}

.name {
	display: flex;
}

.nameHeading {
	transform: translateX(0.5rem);
}

.name img {
	width: 3rem;
	margin-right: 8px;
	transform: translateY(-0.8rem);
}

.name span {
	width: 150px;
	font-size: 1rem;
}

.red {
	color: var(--app-color-red);
	font-weight: 600;
}

.green {
	color: var(--app-color-1);
	font-weight: 600;
}

@media only screen and (max-width: 768px) {
	.window {
		width: 18rem;
		height: 10rem;
		margin: auto;
		margin-top: 1rem;
	}

	.rows {
		display: grid;
		grid-template-columns:
			minmax(2rem, 1fr) minmax(2rem, 1fr)
			minmax(2rem, 1fr) minmax(2rem, 1fr) minmax(2rem, 1fr)
			minmax(2rem, 1fr) minmax(2rem, 1fr);
		width: 100%;
		gap: 1rem;
		font-size: 0.7rem;
		justify-content: space-between;
		text-align: center;
		height: 2.4rem;
		border-bottom: 1px solid var(--app-gray);
		padding: 0;
	}
	.name {
		grid-column: 1 / span 2;
	}
	.nameHeading {
		grid-column: 1 / span 2;
		transform: translateX(0);
	}
	.name img {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 6px;
		transform: translateY(-0.5rem);
	}
	.name span {
		font-size: 0.7rem;
	}
	.symbol {
		display: none;
	}
}
