.name {
	display: flex;
}

.name img {
	width: 3rem;
	margin-right: 8px;
	transform: translateY(-0.8rem);
}

/* media query */
@media only screen and (max-width: 920px) {
	.rows {
		display: grid;
		grid-template-columns: repeat(8, [col-start] minmax(2rem, 1fr) [col-end]);
		width: 100%;
		gap: 1rem;
		font-size: 0.7rem;
		justify-content: space-between;
		text-align: center;
		height: 2.4rem;
		border-bottom: 1px solid #d7d7d7;
		padding: 0;
	}
	.name {
		grid-column: 1 / span 1;
	}
	.name img {
		width: 1.75rem;
		height: 1.75rem;
		transform: translate(1rem, -0.15rem);
	}
	.name span {
		font-size: 0.7rem;
		display: none;
	}
}
