.coin {
  display: flex;
  align-items: center;
  padding-right: 3rem;
  min-width: 300px;
}

.coin img {
  width: 3rem;
  margin-right: 12px;
}

.coin h4 {
  width: 150px;
  font-size: 16px;
}
.search {
  padding: 0.5rem;
}

.container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 3.5rem;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.price {
  width: 110px;
}

.volume {
  width: 160px;
}

.marketcap {
  width: 240px;
}

.percent {
  width: 100%;
}

.red {
  color: #ff2626;
}

.green {
  color: #00d00b;
}
