.header {
  width: 100%;
  height: 5rem;
  /* background: linear-gradient(-225deg, #2a003d 0%, #2b2335 48%, #4801ff 100%); */
  background-image: linear-gradient(
    75deg,
    #000680 24%,
    #3399ac 82%,
    #638658 100%
  );
  padding: 0;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid white;
}
