.header {
  width: 100%;
  height: 10vh;
  background: var(--main-text-color);
  padding: 0;
  text-align: center;
  font-size: 1rem;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 6rem;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.header li {
  width: 5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.header a {
  color: var(--main-bg-color);
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--main-bg-color);
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--main-bg-color);
}

/* media queries */
@media only screen and (max-width: 600px) {
  .header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
}
