.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  background-image: linear-gradient(
    75deg,
    #000680 24%,
    #3399ac 82%,
    #638658 100%
  );
  color: white;
  margin-bottom: 48px;
}

.input::placeholder {
  color: white;
}
