.tab {
	background: transparent;
	border: none;
}

.tab {
	font-size: 0.9em;
	font-weight: 400;
	width: 10em;
	position: relative;
	top: 0;
	left: 0;
	text-transform: uppercase;
	color: var(--main-text-color);
	cursor: pointer;
	transition: all 150ms ease-out;
	letter-spacing: 0.15em;
	border-radius: 0.25rem;
}

.tab:hover {
	border: 1px solid var(--main-text-color);
	box-shadow: 3px 3px var(--main-text-color);
	top: -3px;
	left: -3px;
}

.tab.active {
	border-bottom: 3px solid var(--app-gray);
	border-radius: 0;
	box-shadow: none;
	top: 0;
	left: 0;
}

.tab.active:hover {
	border: none;
	border-bottom: 3px solid var(--app-gray);
	border-radius: 0;
	box-shadow: none;
	top: 0;
	left: 0;
}

.tab:focus {
	outline: none;
}

@media only screen and (max-width: 920px) {
	.tab {
		width: auto;
	}
}
