.tableContainer {
	padding: 0.5rem;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.rowContainer {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
}

.rows {
	display: grid;
	grid-template-columns: repeat(8, [col-start] minmax(4rem, 1fr) [col-end]);
	width: 82%;
	gap: 3rem;
	justify-content: space-between;
	text-align: center;
	/* height: 3.4rem; */
	border-bottom: 1px solid #d7d7d7;
	padding: 0.5rem;
}

.labels {
	font-weight: 700;
	align-items: end;
}

/* media query */
@media only screen and (max-width: 920px) {
	.rows {
		display: grid;
		grid-template-columns: repeat(8, [col-start] minmax(2rem, 1fr) [col-end]);
		width: 100%;
		gap: 1rem;
		font-size: 0.7rem;
		justify-content: space-between;
		text-align: center;
		height: 2.4rem;
		border-bottom: 1px solid #d7d7d7;
		padding: 0;
	}
}
