@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

:root {
  --main-bg-color: #f7f7f2;
  --main-text-color: #051e24;
  --main-text-color: #161515;
  --app-color-1: #0e6277;
  --app-color-2: #0d265e;
  --app-color-3: #3f8efc;
  --app-color-4: #0ca45a;
  --app-color-red: #d14a2f;
  --light-blue: #d6eaf8;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--main-bg-color); */
  background: var(--main-bg-color);
}

.app {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  color: var(--main-text-color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

h2 h3 h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
button {
  display: inline-block;
  border: none;
  padding: 0.25rem 1.5rem;
  margin: 0;
  width: 40%;
  height: 2.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  background: #ffffff;
  color: rgb(36, 36, 36);
  border: 1px solid rgb(36, 36, 36);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #ffffff;
}

button:focus {
  outline: 2px solid var(--app-color-4);
  outline-offset: 2px;
}

button:active {
  transform: scale(0.99);
}

.red {
  color: var(--app-color-red);
}

.green {
  color: var(--app-color-4);
}

/* smallest phones */
@media only screen and (max-width: 340px) {
  :root {
    font-size: 82%;
  }
  button {
    margin: 0;
    width: 75%;
    height: 2rem;
    font-size: 1rem;
  }
}
