* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #fffbfc;
  --main-text-color: #221b21;
  /* --app-color-1: #0e6277;
  --app-color-2: #6eb56c;
  --app-color-3: #0c345a;
  --app-color-4: #3f8efc;
  --app-color-red: #db504a; */
  /* new colors */
  --app-color-1: #92cce6;
  --app-color-2: #77c4a4;
  --app-color-3: #ec97b1;
  --app-color-4: #3f8efc;
  --app-color-5: #1e8055;
  --app-color-red: #db504a;
  --light-blue: #d6eaf8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg-color);
}

.app {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  color: var(--main-text-color);
}
